<div class="alumnis index">
  <h2>All Alumni</h2>

<!-- fix -->
  <%= link_to("Back to My Info", user_info_alumni_path(session[:alumni_id]), :class => 'action new') %>

  <table class="listing" summary="Alumni list">
    <tr class="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Graduation Year</th>
      <th>More Info</th>
    </tr>
    <% @alumnis.each do |alumni| %>
    <tr>
      <td><%= alumni.first_name %></td>
      <td><%= alumni.last_name %></td>
      <td><%= alumni.graduation_year.to_i %></td>
      <td class="actions">
        <%= link_to("Show", alumni_path(alumni), :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
